@model WingTruck.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1 class="cuscreate-txt">New Booking</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromAddr" class="control-label">From Address</label>
                <input asp-for="FromAddr" class="form-control" />
                <span asp-validation-for="FromAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToAddr" class="control-label">To Address</label>
                <input asp-for="ToAddr" class="form-control" />
                <span asp-validation-for="ToAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            @*<form action="submit">
                <label for="Type">Order Type:</label>
                <select id="Tyoe" name="Order Type">
                    <option value="Furniture">1.Furniture</option>
                    <option value="Glass">2.Glass</option>
                    <option value="Luggage">3.Luggage</option>
                    <option value="Electronic">4.Electronic</option>
                    <option value="Books">5.Books</option>
                    <option value="Food">6.Food</option>
                    <option value="Groceries">7.Groceries</option>

                </select>

            </form>*@
            <div class="form-group">
                <label asp-for="OrderTypeId" class="control-label"></label>
                <select asp-for="OrderTypeId" class ="form-control" asp-items="ViewBag.OrderTypeId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Book" onclick="confirm('Confirm Your Order')"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
